@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,200;0,300;1,200;1,400&family=Pushster&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a8dadc;
  font-family: 'Lobster', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 50px;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: #023e8a;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

nav ul li {
  color: #023e8a;
  margin: 30px;
  font-size: 20px;
  border: 1px solid purple;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #fcd5ce;
}

section .cards {
  padding: 0 150px;
  margin-top: 50px;
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.cards-info {
  background-color: #fcd5ce;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  border: 2px solid #023e8a;
}

.img {
  height: 270px;
  width: 260px;
  margin: 30px;
}

.description {
  font-size: 20px;
  color: #023e8a;
}

.fa-heart {
  color: tomato;
}

.likes-count {
  color: #023e8a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.likes-count span {
  color: #023e8a;
  font-size: 20px;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 14px;
  background-color: #0096c7;
  color: #edf6f9;
  border: 2px solid #457b9d;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 15px;
}

footer {
  color: #023e8a;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  height: 180px;
}

footer p {
  font-size: 20px;
  font-size: 40px;
}

.commentPopUp {
  width: 65%;
  margin: auto;
  background-color: #fcd5ce;
  display: none;
  border: 2px solid #023e8a;
  padding: 30px;
  color: #063747;
  overflow-y: scroll;
}

.popup-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-image {
  width: 200px;
  height: 210px;
}

.fa-times {
  display: flex;
  justify-content: end;
}

.details {
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 30px;
  margin: 20px;
}

.comment-section {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-evenly;
}

.comment {
  display: flex;
  justify-content: center;
}

#username {
  width: 200px;
  height: 40px;
  outline: none;
  margin-bottom: 20px;
}

#comment {
  width: 200px;
  height: 80px;
  outline: none;
}

#displayComments {
  color: rgb(202, 37, 8);
  list-style: none;
  display: flex;
  flex-direction: column;
}

#displayComments li {
  padding: 25px;
}

.edit {
  display: flex;
  flex-direction: column;
}

#submit {
  margin: 20px 0;
}

@media only screen and (min-width: 480px) {
  section .cards {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 768px) {
  section .cards {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 992px) {
  section .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1280px) {
  section .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
